<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RESIGUIDE</title>
    <link rel="stylesheet" href="css/index_style.css">
</head>
<body>
    <header>
        <div id="logo">RESIGUIDE</div>
        <nav>
            <ul>
                <li><a href="#">SERVICES</a></li>
                <li><a href="#">NEWS</a></li>
                <li><a href="#">DESCRIPTION</a></li>
                <li><a href="#">FORO</a></li>
                <!-- Agrega la información del usuario aquí -->
               
            </ul>
        </nav>
        <div id="menu-icon">☰</div>
    <div id="sidebar">
        <div class="toogle-btn">


            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul>


            <li><%= usuario.nombre %></li>
            <li><%= usuario.tipo_usuario %></li>
            <li>Log Out</li>
        </ul>
    
  </div>
    </header>
    <hr class="custom-hr">
    <img src="assets/images/body_images/fondo3.jpg" alt="Descripción de la imagen" class="custom-img">
    <!-- Este es el contenedor principal debajo de la imagen -->
    <div id="service-status">
    <h2>DISPONIBILIDAD DE LOS SERVICIOS DE TU CONJUNTO</h2>

    <!-- Aquí están las tres tarjetas -->
    <div id="cards-container">
        <div class="card">
            <img class="icon" src="assets/icons/iconwater.png" alt="Icono Agua" width="91" height="83">
            <div class="status-circle <%= servicios.find(service => service.nombre === 'Agua').estado.toLowerCase().replace(' ', '-') %>"></div>
        </div>
        <div class="card">
            <img class="icon" src="assets/icons/icongas.png" alt="Icono Gas" width="175" height="139">
            <div class="status-circle <%= servicios.find(service => service.nombre === 'Gas').estado.toLowerCase().replace(' ', '-') %>"></div>
        </div>
        <div class="card">
            <img class="icon" src="assets/icons/iconluz.png" alt="Icono Electricidad" width="112" height="75">
            <div class="status-circle <%= servicios.find(service => service.nombre === 'Luz').estado.toLowerCase().replace(' ', '-') %>"></div>
        </div>
    </div>
</div>
<br>
<br>

<br>

<br>
<br>

<br>

<br>
<hr style="width: 65%; height: 2px; margin: 40px auto;">

<section style="width: 100%; height: 136px; background-color: #000000; color: #ffffff; text-align: center; line-height: 136px;">
  <h2 style="font-family: 'Inter', sans-serif; font-weight: 400; font-size: 40px;">LAS NOTICIAS DEL DÍA</h2>
</section>
<br>

<br>

<br>

<section class="news-section">
  <% noticias.forEach(noticia => { %>
    <div class="news-card">
      <img src="<%= noticia.urlToImage || '/path/a/imagen/default.png' %>" alt="<%= noticia.title %>">
      <div class="news-text">
        <p><%= noticia.description || noticia.contenido %></p>
        <button><a href="<%= noticia.url || '#' %>">Saber más</a></button>
      </div>
    </div>
  <% }); %>
</section>

  </section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/javascript/inicio.js"></script>
</body >
</html>
