<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RESIGUIDE</title>
    <link rel="stylesheet" href="css/index_style.css">
</head>
<body>
    <header>
        <div id="logo">RESIGUIDE</div>
        <nav>
            <ul>
                <li><a href="#">SERVICES</a></li>
                <li><a href="#">NEWS</a></li>
                <li><a href="#">DESCRIPTION</a></li>
                <li><a href="#">FORO</a></li>
                <!-- Agrega la información del usuario aquí -->
               
            </ul>
        </nav>
        <div id="menu-icon">☰</div>
    <div id="sidebar">
        <div class="toogle-btn">


            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul>


            <li><%= usuario.nombre %></li>
            <li><%= usuario.tipo_usuario %></li>
            <li>Log Out</li>
        </ul>
    
  </div>
    </header>
    <hr class="custom-hr">
    <% if (usuario.Conjunto && usuario.Conjunto.imageURL) { %>
      <img src="<%= usuario.Conjunto.imageURL %>" alt="Imagen del conjunto" class="custom-img">
    <% } else { %>
      <img src="assets/images/body_images/fondo3.jpg" alt="Descripción de la imagen" class="custom-img">
    <% } %>
    <!-- Este es el contenedor principal debajo de la imagen -->
    <div id="service-status">
    <h2>DISPONIBILIDAD DE LOS SERVICIOS DE TU CONJUNTO</h2>

    <!-- Aquí están las tres tarjetas -->
    <div id="cards-container">
        <div class="card">
      
             <img class="icon" src="assets/icons/iconwater.png" alt="Icono Agua" width="91" height="83">
            <div class="status-circle <%= servicios.find(service => service.nombre === 'Agua').estado.toLowerCase().replace(' ', '-') %>"></div>
            <button class="saber-mas">Saber más</button>
            <div class="causa-text" style="opacity: 0; transition: opacity 0.5s;">
              <%= servicios.find(service => service.nombre === 'Agua').causa ? servicios.find(service => service.nombre === 'Agua').causa : 'Todo correcto en estos momentos' %>
              <button class="volver">Volver</button>
          </div>
        
        </div>
    
        <div class="card">
            <img class="icon" src="assets/icons/icongas.png" alt="Icono Gas" width="175" height="139">
            <div class="status-circle <%= servicios.find(service => service.nombre === 'Gas').estado.toLowerCase().replace(' ', '-') %>"></div>
            <button class="saber-mas">Saber más</button>
            <div class="causa-text" style="opacity: 0; transition: opacity 0.5s;">
              <%= servicios.find(service => service.nombre === 'Gas').causa ? servicios.find(service => service.nombre === 'Gas').causa : 'Todo correcto en estos momentos' %>
              <button class="volver">Volver</button>
          </div>
            
        </div>
        <div class="card">
            <img class="icon" src="assets/icons/iconluz.png" alt="Icono Electricidad" width="112" height="75">
            <div class="status-circle <%= servicios.find(service => service.nombre === 'Luz').estado.toLowerCase().replace(' ', '-') %>"></div>
            <button class="saber-mas">Saber más</button>
            <div class="causa-text" style="opacity: 0; transition: opacity 0.5s;">
              <%= servicios.find(service => service.nombre === 'Luz').causa ? servicios.find(service => service.nombre === 'Luz').causa : 'Todo correcto en estos momentos' %>
              <button class="volver">Volver</button>
          </div>
        </div>
    </div>
</div>
<br>
<br>

<br>

<br>
<br>

<br>

<br>
<hr style="width: 65%; height: 2px; margin: 40px auto;">

<section style="width: 100%; height: 136px; background-color: #000000; color: #ffffff; text-align: center; line-height: 136px;">
  <h2 style="font-family: 'Inter', sans-serif; font-weight: 400; font-size: 40px;">LAS NOTICIAS DEL DÍA</h2>
</section>
<br>

<br>

<br>

<section class="news-section">
  <% noticias.forEach(noticia => { %>
    <div class="news-card">
      <img src="<%= noticia.urlToImage || '/path/a/imagen/default.png' %>" alt="<%= noticia.title %>">
      <div class="news-text">
        <p><%= noticia.description || noticia.contenido %></p>
        <button><a href="<%= noticia.url || '#' %>">Saber más</a></button>
      </div>
    </div>
  <% }); %>
</section>
<div class="chatbot-section">
  <div class="chatbot-main">
      <div class="chatbot-image">
          <img src="/assets/images/system_images/bot.png" alt="Chatbot">
      </div>
      <div class="chatbot-text">
          <p class="chatbot-question">¿Tienes alguna cuestión acerca de tu conjunto?</p>
          <p class="chatbot-instruction">Habla con nuestro chatbot para que encuentres respuesta a tu inquietud.</p>
      </div>
  </div>
  <div class="chatbot-mini">
      <img src="/assets/icons/botsito.png" alt="Mini Chatbot">
  </div>
  <div class="chat-container">
    <header>
        <img src="/assets/icons/chatbot.png" alt="ResiBot" />
        <span>ResiBot</span>
    </header>
    <div class="chat-messages">
      <div class="message user-message">
        <span>Tu mensaje aquí</span>
    </div>
    
    <!-- Para un mensaje del bot -->
    <div class="message bot-message">
        <img src="/assets/icons/iconChat.png" alt="ResiBot" class="bot-icon"/>
        <span>Mensaje del bot aquí</span>
    </div>
        <!-- Aquí se mostrarán los mensajes del chat -->
    </div>
    <div class="chat-input">
        <textarea placeholder="Send a message"></textarea>
        <button id="sendMessageBtn"><img src="/assets/icons/plane.png" alt="Enviar"></button>
    </div>
</div>

</div>

  </section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascript/inicio.js"></script>
<script> const nombreUsuario = "<%= usuario.nombre %>";
  
  const nombreConjunto = "<%= usuario.Conjunto ? usuario.Conjunto.nombre : '' %>";</script>
  <script>
    const userId = '<%= userId %>';
    const adminId = '<%= adminId %>';  // Asegúrate de que esta línea esté presente y correcta.
  </script>
  


<script src="/javascript/opecausa.js"></script>

</body >
</html>
